*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #EAFDFC;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
  
}

header{
    background-color: #82AAE3;
    width: 100vw;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
}

button {
    background-color: #91D8E4; 
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    font-size: 1.4rem;
    margin: 20px;
    padding: 10px;
    text-align: center;
  }
  