*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #82AAE3;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  
}

header{

    background-color: #BFEAF5;
    width: 100vw;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
}

button {
    background-color: #4c5772; 
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-size: 1.4rem;
    margin: 20px;
    padding: 10px;
    text-align: center;
  }

  section {
    margin-top: 50px;
    padding: 50px;
    background-color: #EAFDFC;
    border-radius: 5px;
  }

  .word-blanks{
    font-size: 3rem;
  }
  